<div class="h-search">



  <div class="h-search-container">
    <h1>Title</h1>
    <div>put input key</div>
    <input placeholder="Enter key top search">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>...</li>
      <li>4</li>
    </ul>
  </div>

  <div class="h-search-buton">
    <button type="button" id="h-search-btn" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
  </div>

</div>