<div class="h-search" ng-app="myApp">
  <div ng-controller="SearchCtrl" ng-class="{'content-visible': isSearchVisible}">

      <div class="h-search-container">
        <h3 class="">{{title}}</h3><hr>

        <div class="form-group">
          <label >Hotel:</label>
          <input type="text" class="form-control" placeholder="Type any kew to search with">
        </div>

        <button class="btn btn-info" ng-click="search()">Search</button>
        <div class="h-result-container">
            <div ng-repeat="hotel in hotels">

              <span>{{hotel.email}} </span>
              <span></span>

            </div>
        </div>
      </div>

    <div class="h-search-ctrl-button">
      <button type="button" id="h-search-btn" class="btn btn-default" aria-label="Left Align" ng-click="toggleSearch()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>

  </div>
</div>