.h-search {
    position: fixed;
    float: right;
    padding-top: 150px;
    z-index: 5;
    right: 0;
}

.h-search-container, .h-search-ctrl-button {
    float: right;
}

.content-visible .h-search-ctrl-button button {
    padding: 19px 6px;
    margin-right: -1px;
    border: 1px solid aqua;
    box-sizing: border-box;
    border-right-color: white;
    border-radius: 4px 0px 0px 4px;
}
.h-search-ctrl-button span {
    font-size: 15px;
    color: darkgreen;
}

.h-search-container {
    width: 0;
    height: 450px;
    overflow: hidden;
    transition: all 1.5s ease;
}

.h-search-container input{
    background: none;
    border: none;
}

.h-search-ctrl-button span:last-child {
    display: none;
}
.content-visible .h-search-ctrl-button span:first-child {
    display: none;
}
.content-visible .h-search-ctrl-button span:last-child {
    display: block;
}

.content-visible .h-search-container {
    transition: all 1.5s ease;
    width: 550px;
    background: #F7F7F7;
    border-radius: 0;
    border: 1px solid aqua;
    padding: 10px 50px 50px 50px;
}
.content-visible .h-search-container input{
    border: 1px solid #b3ffff;
}

.h-search-container .btn.btn-info, .btn.btn-info {
    background-color: #44d1d5;
    border-color: #269abc;
}

.h-search-container ul{
    max-height: 200px;
    overflow: scroll;
}
.h-search-container h3 {
    text-align: center;
}

.h-search-container label, .h-search-container input {
    display: inline-block;
}
.h-search-container input {
    width: 55%;
    margin: 0 10px;
}
.h-result-container {
    max-height: 150px;
    overflow-y: scroll;
}