.h-search {
    position: fixed;
    float: right;
    padding-top: 150px;
    z-index: 5;
    right: 0;
}

.h-search-container, .h-search-buton {
    float: right;
}

.h-search-buton button{
    padding:  3px 6px;
}
.h-search-buton span {
    font-size: 15px;
    color: darkgreen;
}

.h-search-container {
    width: 0;
    height: 250px;
    overflow: hidden;
    transition: all 1.5s ease;
}
.h-search-container input{
    background: none;
    border: none;
}
.h-search-buton span:last-child {
    display: none;
}

.content-visible .h-search-container {
    transition: all 1.5s ease;
    width: 350px;
    background: #F7F7F7;
    border-radius: 5px;
    border: 1px solid aqua;
    padding: 10px 50px 50px 50px;
}
.content-visible .h-search-buton span:first-child {
    display: none;
}
.content-visible .h-search-buton span:last-child {
    display: block;
}

.content-visible .h-search-buton {
}