/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.h-panel {
    position: absolute;
    width: 100%;
    text-align: center;
    background: transparent;
}

.h-panel-heading {
    background: transparent;
}
.h-panel-heading h2 {
    color: azure;
}
.h-panel-heading h2:hover {
    color: aquamarine;
    //cursor: none;
}